# PostgreSQL Database Credentials
DB_HOST=localhost
DB_PORT=5432
DB_NAME=Nexus_Master DB
DB_USER=postgres
DB_PASSWORD=Nivassql2005

# API Settings
API_V1_STR=/api/v1
PROJECT_NAME=Nexus ERP - Master Expenses API
